.home .intro-img {
  max-width: 100%;
  max-height: 100%;
}

.home .intro-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.home .intro-body > div {
  width: 33vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home .intro-body h1 {
  margin-top: 0;
}