 .nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  max-height: 20vh;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--link-color);
}

.nav-bar a {
  padding: 20px;
}
 
 .intro-img {
  max-width: 100%;
  max-height: 100%;
}

.intro-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.intro-body > div {
  width: 33vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.videos-body {
  width: 66vw;
  height: 70vh;
  margin-left: 16.5vw;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.videos-list {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.videos-list > div {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.videos-list iframe {
  width: 25vw;
  height: 14.0625vw;
  border: none;
}

.work-body {
  width: 66vw;
  height: 70vh;
  margin-left: 16.5vw;
  margin-top: 15vh;
  margin-bottom: 15vh;
}