:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bg-color: #fff0da;
  --title-text-color: #304f27;
  --text-color: #935f15;
  --link-color:#ad2614;
  --link-hover-color:#b76054;
  background-color: var(--bg-color);
}

body {
  margin: 0;
}

h1, h3 {
  color: var(--title-text-color);
}

p {
  color: var(--text-color)
}

a {
  text-decoration: none;
  color: var(--link-color);
  cursor: pointer;
}

a:hover {
  color: var(--link-hover-color);
}

.section-body  {
  width: 66vw;
  min-height: 70vh;
  margin-left: 16.5vw;
  margin-top: 15vh;
  margin-bottom: 15vh;
}